body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: opacity 0.5s ease-in-out;
}

body.fade-out {
    opacity: 0;
}

header {
    background: #444;
    color: #c96666;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    color: #fafbfc;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #c96666;
}

.container {
    width: 85%;
    margin: 0 auto;
}

section {
    padding: 20px;
    background: #10755c;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #8f0c94e1;
    color: #fff;
}

.services-list, .team-list {
    display: flex;
    flex-wrap: wrap;
}

.service, .team-member {
    flex: 1 1 30%;
    margin: 10px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
